body {
    color: 	#ff7fbf;
    padding: 10px;
    font-family:"KindFont";
    background-color: 	#f2c4d1;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: 		#f7b4cd;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: -6px 7px 0px 0px		#f6dfa9;
}

h1 {
    display: flex;
    align-items: center;
    color: 		#d490a3;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
    transition: all .5s ease-in-out;
    border-radius: 20px;

}
.nav-li:hover{
    background-color: 		#d6779a;

    box-shadow: -3px 3px 0px 1px  #f6dfa9;
    border-radius: 20px;
    transition: 0.3s;

}
a {
    text-decoration: none;
    color: 			#a36c7cc4;
}

/* main container area beneath menu */
main {
    background:		#fb9fd0;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -16px 17px 0px 0px #f6dfa9;
}

.sidebar {
    margin-top: 25px;
    padding: 10px;
    
}

.sidebar-img {
    align-self: center;
    transition: all .5s ease-in-out;
}
.sidebar-img:hover {
    align-self: center;
    transform: scale(110%);
    
}


.content {
    flex: 1;
    padding: 15px;
    border-radius: 20px;
    cursor: help;
    width: 800px;
    length: 290px;
    transition: all .5s ease-in-out;
   

}

.content:hover {
    background-color:	#fbd6e478;
    box-shadow: 0px 0px 0px 6px 		#b172895f;
    width: 1000px;
    length: 300px;
    transform: scale(120%);


}
/* interests section styles */
#interests {
    border: 10px #000000;
    padding: 8px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 0px 1px #392c27;
    cursor: pointer;
}



h2, h3 {
    margin: 0px;
}


/* Portfolio styles */
.contents h1 {
  color:#d490a3;
  padding-block: 20px;
  padding-left: 340px;
  font-family:"KindFont";


}


#portfoliol {
  list-style-type: none;
  padding-left: 200px;
  text-decoration: none;
  color: #8b38d4;
}

#portfoliol li {
  a{background:#da84c8 ;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: -10px 5px 0px 1px #c258a6;
  color: #c258a6;
  transition: all .5s ease-in-out;
  }
}

#portfoliol li:hover {
  a{background: #f7e152;
  text-decoration: none;
  color: #da7420;
  }
  
}
@font-face {
    font-family: "KindFont";
    src: url(fonts/font/Super\ Kindly.ttf) format(truetype);
    font-weight: 30;
    font-style: normal;
    font-display: swap;
}